*{
    margin: 0;
}
main{
    background-color: #021526;
    color: #E2E2B6;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.main__introducao__apresentacao{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.main__introducao__apresentacao__imagem{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    width: 50%;
}
.main__introducao__apresentacao__texto{
    flex-direction: column;
    padding-right: 10%;
    width: 50%;
}
footer{
    background-color: #03346E;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}
.footer__github__link{
    align-items: center;
    border: 2px solid #021526;
    color: #021526;
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    text-decoration: none;
    width: 7%;
}
.footer__github__link:hover{
    background-color: #6EACDA;
}